body{
  // font-family: 'Noto Sans TC','Noto Serif TC', serif; 
  font-family: 'Noto Serif TC';
  line-height: 1.5;  
  // background-color:$primary;
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  div{
    background-size: cover;
    background-position: center center;
  }
  img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}

// common
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .slide-hover{
    &:hover{
      overflow: hidden;
    }
  }  
  .slide-img{        
    &:hover{
      transform: scale(1.2);
      transition: all 0.5s;          
    }
  }
  .card-body{
    width: 90%;
  }
}
.swiper-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slide-img {    
  width: 100%;
  object-fit: cover;
  object-position: center;     
  aspect-ratio: 16/11;      
}
.text-img{
  object-fit:contain;
}
.tasty-menu-fixed{  
  display: none; 
  position: fixed;
  bottom: 5%;
  right: 1%;    
  background-color: rgba(255, 255, 255, 0);
  // padding: 10px;
  border-radius: 10px; 
  img{      
    width: 20px;
    height: 20px;
    margin-top: 5px;     
  }
  .tasty-menu-item{
    width: 50px;
    height: 50px;
    font-size: 10px;
  background-color: $info;
  &:hover{
  background-color: black;
 } 
  }       
}
.tasty-menu-fixed.show{
  display: block;
}