td,th,tr{
  border-bottom: 1px solid black;
}
.shopping{
  &:hover{
    background-color: black;
    color: #91905a;
  }
}
.swal2-confirm{
  background-color: black !important;
  color: #fff!important;
}
@media (max-width:374px) {
  .swal2-container {
    width: 90% !important;
  }
}