.tastyDetail{   
  ol > li > a {color:$gray-600};

  section{
    margin-bottom: 2rem;
  }  
  .breadcrumb > .active,.breadcrumb > .active a {
    color: black;
  }

  .tastyDetail-product{    
    img{
      width: 100%;
      height: auto;
    }
    .badge{
      font-size: 14px;
      vertical-align: super;
    }
    .price{
      font-size:24px ;
      color: red;
    }
    
    button{
      color: #0E376F;
    }
    select{
      border:2px solid black;
    }
  }

  .tastyDetail-breadcrumb{
    .router-link-custom:hover{
      font-weight: bold;
      transition: all 0.3s;
    }
  }
  .tastyDetail-breadcrumb-list,.tastyDetail-product-item{
    width: 90%;
  }
  .customer-notice{
    background-image: url(./images/bg-coupon.png);
    .customer-notice-title{
      text-decoration: underline;
	    text-underline-offset: 5px;
    }
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.slide-img {    
    width: 100%;
    padding-bottom: 72%;
    background-size: cover;
    background-position: center center;
  }
  img.slide-img { 
    width: 100%;
    object-fit: cover;
    object-position: center center;  
  }

  .swiper-father {      
    position: relative;   
    .swiper{
      width: 90%;
    } 
  }

  .swiper-button-prev,.swiper-button-next{
    position: absolute;
    top: 50%;           
  }


  .swiper-button-prev img,
  .swiper-button-next img {
    width: 48px;
    height: 48px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
  swiper-slide{
    height: 100%;
  }
}
.banner-product{
  background-image: url(./images/tasty-banner.jpg);
}
/*RWD*/
@include media-breakpoint-down(sm) {
  .tastyDetail{
    .tastyDetail-breadcrumb-list,.tastyDetail-product-item{
      width: 100%;
    }   
    .swiper {
      
      height: 450px !important;
     
    }
  } 
  .tastyDetail-product{
    .badge{
      font-size: 10px !important;
    }
  }
 }
